/**
 * Below are the colors that are used in the app. The colors are defined in the light and dark mode.
 * There are many other ways to style your app. For example, [Nativewind](https://www.nativewind.dev/), [Tamagui](https://tamagui.dev/), [unistyles](https://reactnativeunistyles.vercel.app), etc.
 */
  .primary {
    --color-100: #000000;
    --color-200: #1A1A1A;
    --color-300: #333333;
    --color-400: #4D4D4D;
    --color-500: #666666;
    --color-600: #808080;
    --color-700: #999999;
    --color-800: #B3B3B3;
    --color-900: #CCCCCC;
    --color-1000: #FFFFFF;
  }

  .accent {
    --color-1000: #230000;
    --color-900: #2A0505;
    --color-800: #4A0A0A;
    --color-700: #6A0F0F;
    --color-600: #8A1414;
    --color-500: #AA1919;
    --color-400: #CA1E1E;
    --color-300: #EA2323;
    --color-200: #FA3838;
    --color-100: #FF4D4D;
  }